body{
  font-family:"Ubuntu";
}
h1, h2, h3, h4{
  font-family:  "Montserrat";

}

h3{

  font-weight:bold;
  font-size: 1.5rem;
}
h2{

  font-size: 3rem;
  line-height: 1.5;
}
/* #title{
  background-color: #ff4c68;
} */
.big-heading{
  font-family:  "Montserrat";
  font-size: 4rem;
  line-height: 1.5;
  color: white;
}
/* Nav bar */
.container-fluid{
  padding: 2% 15% ;
}
.colored-section{
  background-color: #ff4c68;
}
.white-section{
  background-color: white;
}

.navbar-brand{

  font-size: 2.5rem;
  font-weight: 1.5;
}
.navbar{
  padding-bottom: 4rem;
}
.nav-item{
  padding: 0 18px;
}
/* download */
.download-btn{
  margin:5% 3% 5% 0;
}
/* image title */
.title-img{
  width:50%;
  transform: rotate(25deg);

  position: absolute;

}
.title-image-container {
  position: relative;
}
/* #title{
  position: absolute;
  z-index: -10;
} */
/* features */
#features{
  text-align:center;
  padding: 7% 13%;
  /* background-color:white; */
  position: relative;
  /* z-index: 1; */
}
.feature-box{

  padding: 5%;
}


.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68;
}

/* testimonial */
#testimonials{
  text-align: center;

  background-color: #ef8172;
  color:white;
}
.carousel-item{
    padding: 7% 15%;
    transition: transform 2s ease;
    opacity: .5s ease-out;
}
.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin-right:5%;
}
/* press */
#press{
  text-align: center;

  padding-bottom: 5%;
  background-color: #ef8172;
}
.press-logo{
  width:15%;
  margin:20px 20px ;
}
/* price */
#pricing{
  padding: 100px;
  text-align: center;
}
.feature-box{
  padding: 3% 2%;
}
@media (max-width:1245px) {
  #title{
    text-align: center;
  }
  .title-img{
    width:50%;
    transform: rotate(0);

    position: static;

  }

}
#cta{
  text-align: center;

  padding: 7% 15% 5%;
  color: white;
}
.foot{
  font-family:  "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
#footer{
  text-align: center;
  padding: 5% 15%;
}
.fo{
  margin:20px 30px;
}
